{% extends "base.html" %}
{% block title %} Teachers {% endblock %}
{% block content %}
<a href="/teacher/classroom/assistant/{{classroom.id}}" class="btn btn-success" role="btn">{{classroom.name}}</a>
<table>
  <tr>
  <Td>
<a href="/teacher/classroom/assistant/add/{{classroom.id}}/0" role="button" class="btn btn{% if group == 1 and not account.strip %}-outline{% endif %}-info">所有帳號</a>
<a href="/teacher/classroom/assistant/add/{{classroom.id}}/1" role="button" class="btn btn{% if group == 0 and not account.strip %}-outline{% endif %}-info ">註冊帳號</a>  
  </Td>
    <td>
<form action=""  method="get">
 <label class="form-group form-inline">搜尋帳號：<input type="text" name = "account"><input type="submit" value="送出"/></label>    
    </form>
    </td>
  </tr>
</table>
          
        <table class="table">
            <td>帳號</td>
            <td>姓名</td>
            <td>最新登入</td>
            <td>功能</td>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_login}}</td>
                <td>
                {% if user.id in assistants  %}<a href="#" data-classroomid="{{classroom.id}}" data-userid="{{ user.id }}" data-action="unset" class="assistant btn btn-info" role="button">取消助教</a>{% else %}<a href="#" data-classroomid="{{classroom.id}}" data-userid="{{ user.id }}" data-action="set" class="assistant btn btn-outline-info" role="button">設為助教</a>{% endif %}
            </tr>
        {% endfor %}
        </table>
        {% include "pagination.html" with page=page_obj %}
{% endblock %}

{% block domready %}
  $('a.assistant').click(function(e){
    var launcher = this;  
    e.preventDefault();
    $.post('/teacher/assistant/make/',
      {
        userid: $(launcher).data('userid'),
        classroomid: $(launcher).data('classroomid'),
        action: $(launcher).data('action')
      },
      function(data){
        if (data['status'] == 'ok')
        {
          var previous_action = $(launcher).data('action');
		      if (previous_action == 'set') {
               $(launcher).removeClass("btn-outline-info").addClass("btn-info");
               $(launcher).html("取消助教");
               $(launcher).data('action', 'unset');
           } else {
               $(launcher).removeClass("btn-info").addClass("btn-outline-info");
               $(launcher).html("設為助教");
               $(launcher).data('action', 'set');               
           }
        } else {
			   	alert("hello");
	    	}
      }
    );
  });
{% endblock %}