{% extends "base.html" %}
{% load tag %}
{% block content %}
<button class="btn btn-success">{{classroom.name}}</button>
<a href="/teacher/classroom/assistant/add/{{classroom.id}}/1" class="btn btn-warning" role="btn"><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> 設定助教</a>
        <table class="table">
            <td>帳號</td>
        </tr>
{% for assistant in assistants %}
            <tr>
                <td>{{assistant.user_id|nickname}}</td>
            </tr>
{% endfor %}
</table>
{% endblock %}