{% extends "base.html" %}
{% block content %}
	學生姓名：{{enroll.student.first_name}}
    <table class="table">
    <tr>
        <td>編號</td>
        <td>作品</td>
        <Td>日期</Td>
        <td>心得</td>

    </tr>
  {% if typing == 0 %}
    {% if lesson == 1 %}
    {% for list in lesson_list %}
        <tr align=left>
        <td align=right>{{list.1.0.2}}</td>
            <td nowrap>{{list.1.0.0}}</td>
             <td>{{list.1.2}}</td>      
            <td>{{list.1.4}}</td>
        </tr>
    {% endfor %}
    {% endif %}
    </table>
	 <BR>
        心得評分：
        <form action="" enctype="multipart/form-data"  method="post">
            <table class="table" style="width:300px">
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>
  {% else %}
    {% for index, list in lesson_list %}
        <tr align=left>
        <td align=right>{{forloop.counter}}</td>
            <td nowrap>{{list.0.title}}</td>
            <td>{{list.2|date:"Y/m/d h:i:s" }}</td>
            <td>{{list.4}}</td>           
        </tr>
    {% endfor %}
    </table>
	 <BR>
        心得評分：
        <form action="" enctype="multipart/form-data"  method="post">
            <table>
                {{ form.as_table }}
            </table>
            {% csrf_token %}
            <input type="submit" value="Submit">
        </form>     
  {% endif %}   
{% endblock %}