{% extends "base.html" %}
{% load tag %}
{% block content %}
<form class="form-horizontal" method="POST" action="">
{% csrf_token %}
{{ formset.management_form }}
<table class="table">
{% for form in formset %}
<tr><td>{{form.seat.value}}){{form.student_id.value|nickname}}</td>
<td>
    <input type="hidden" name={{form.id.auto_id|slice:"3:"}} value={{form.id.value}}>
    <input type="hidden" name={{form.seat.auto_id|slice:"3:"}} value={{form.seat.value}}>
    <input type="hidden" name={{form.student_id.auto_id|slice:"3:"}} value={{form.student_id.value}}>	
    <select name="{{form.group.auto_id|slice:"3:"}}">
    <option value="0"{% if form.group.value == 0 %}selected{% endif %}>尚未選組</option>
    {% for number in group_numbers %}
    <option value="{{number}}" {% if form.group.value == number %}selected{% endif %}>第{{number|add:1}}組</option>
	{% endfor %}
  </select>
  
</td>
</tr>
{% endfor %}
<tr>
<td>
</td>
<td>
<button type="submit" class="btn btn-block btn-primary">送出</button>
</td></tr>
</table>
</form>
{% endblock %}