{% extends "base.html" %}
{% load tag %}

{% block header %}
<!-- // jQuery File Upload //-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/css/jquery.fileupload-ui.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/css/jquery.fileupload.min.css" />
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/css/jquery.fileupload-noscript.min.css" /></noscript>
<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/css/jquery.fileupload-ui-noscript.min.css" /></noscript>
{% endblock %}

{% block content %}
<a href="/teacher/speculation/content/{{ forum.id }}" class="btn btn-success" role="btn">返回 {{forum.title}}</a>
 <!-- Nav tabs -->
 <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#tab1">外部網址</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab2">Youtube影片</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab3">上傳圖片</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#tab4">上傳文字</a>
  </li>    
</ul>
<!-- Tab panes -->
<div class="tab-content">
  <div id="tab1" class="tab-pane active">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type=hidden name=types value="1">
      <input type=hidden name=forum_id value={{forum.id}}>
      <div class="form-group">
        <label for="id_content_title">文章標題</label>
        <input id="id_content_title" maxlength="250" name="title" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="id_content_link">文章網址</label>
        <input id="id_content_link" maxlength="250" name="link" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="article-memo">說明</label>
        <textarea name="memo" id="article-memo" rows="10" class="form-control"></textarea>
      </div>
      <input type="submit" value="送出" class="btn btn-info" />
    </form>
  </div>
  <div id="tab2" class="tab-pane fade">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type=hidden name=types value="2">
      <input type=hidden name=forum_id value={{forum.id}}>
      <div class="form-group">
        <label for="id_content_youtube">影片網址</label>
        <input id="id_content_youtube" maxlength="250" name="youtube" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="youtube-memo">說明</label>
        <textarea name="memo" id="youtube-memo" rows="10" class="form-control"></textarea>
      </div>
      <input type="submit" value="送出" class="btn btn-info" />
    </form>
  </div>
  <div id="tab3" class="tab-pane fade">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type=hidden name="types" value="3">
      <input type=hidden name=forum_id value={{forum.id}}>
      <div class="form-group">
        <label for="content_file">圖片</label>
        <input id="content_file" name="content_file" type="file" />
      </div>
      <div class="form-group">
        <label for="file-memo">說明</label>
        <textarea name="memo" id="file-memo" rows="10" class="form-control"></textarea>
      </div>
      <input type="submit" value="送出" class="btn btn-info" />
    </form>
  </div>
  <div id="tab4" class="tab-pane fade">
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input type=hidden name="types" value="4">
      <input type=hidden name=forum_id value={{forum.id}}>
      <div class="form-group">
        <label for="text-memo">文字</label>
        <textarea name="memo" id="text-memo" rows="10" class="form-control"></textarea>
      </div>
      <input type="submit" value="送出" class="btn btn-info" />
    </form>
  </div>    
</div>{% endblock %}

{% block domready %}
  $('body').css('background-image','url(/static/images/back3.gif)');
{% endblock %}

{% block footer_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/vendor/jquery.ui.widget.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/jquery.iframe-transport.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/jquery.fileupload.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/jquery.fileupload-process.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/jquery.fileupload-ui.min.js"></script>
<script>
//---------------------------------------------------------------------------
// jQuery File Upload 
$(function() {
  'use strict';

  var data_pool = [];
  $('#fileupload').fileupload({
    dataType: 'json',
    sequentialUploads: true, 
    add: function(e, data) {
      var node = $('<tr/>').append($('<td/>').text(data.files[0].name))
        .append($('<td/>').text(data.files[0].size));
      node.appendTo($('#files'));
      data.context = node;
      data_pool.push(data);
    },
    done: function(e, data) {
      window.setTimeout(function() {
        window.location.assign('/teacher/speculation/content/{{forum.id}}');
      }, 1000);
    },
    progressall: function(e, data) {
      var progress = parseInt(data.loaded / data.total * 100, 10);
      $('#progress .progress-bar').css(
        'width',
        progress + '%'
      );
    }
  }).prop('disabled', !$.support.fileInput)
  .parent().addClass($.support.fileInput ? undefined : 'disabled');

  $('#fileupload button[type=button]').click(function(e) {
    $.each(data_pool, function(index, item) {
      item.submit();
    });
  });
});
</script>
{% endblock %}