{% extends "base.html" %}
{% load tag %}
{% block content %}
        <a href="/teacher/work2/add/{{classroom.id}}"  role="button" class="btn btn-primary">新增作業</a><BR><BR>
            <form class="form-horizontal" method="POST" action="">
                    {% csrf_token %}
                    {{ formset.management_form }}            
        <table class="table">
            <tr>
                <td>名稱</td>
                <td>時間</td>	
                <td>使用分組</td>			
                <td colspan=2>功能</td>	

                {% for form in formset %}
                <tr>
                <td>{{forloop.counter}}){{form.index.value|twork_title}}</td>
                <td>{{form.index.value|twork_time}}</td>
                <td>
                <input type="hidden" name={{form.id.auto_id|slice:"3:"}} value={{form.id.value}}>
                <input type="hidden" name={{form.index.auto_id|slice:"3:"}} value={{form.index.value}}>
                <input type="hidden" name={{form.typing.auto_id|slice:"3:"}} value={{form.typing.value}}>
                <input type="hidden" name={{form.classroom_id.auto_id|slice:"3:"}} value={{form.classroom_id.value}}>	
                <select name="{{form.group_id.auto_id|slice:"3:"}}">
                <option value="0"{% if form.group_id.value == 0 %}selected{% endif %}>不分組</option>
                {% for group in groups %}
                <option value="{{group.id}}" {% if form.group_id.value == group.id %}selected{% endif %}>{{group.title}}</option>
                {% endfor %}
              </select>
            </td>			
			<td><a href="/teacher/work2/class/{{classroom.id}}/{{form.index.value}}">評分</a></td>
            <td><a href="/student/memo/1/{{classroom.id}}/{{form.index.value}}">心得</a></td>				
                </tr>
            {% endfor %}		
        </form> 	
            <tr><td></td><td></td><td>
                <button type="submit" class="btn btn-block btn-primary">送出</button>
                </td>
     <td><form method="POST" action="/teacher/work/group/set/1/{{classroom.id}}/"  onsubmit="return confirm('確定要設定嗎?');">  
        {% csrf_token %}
        <select name="group">
                <option value="0" selected>不分組</option>
                {% for group in groups %}
                <option value="{{group.id}}">{{group.title}}</option>
                {% endfor %}
              </select>
        <td><button type="submit" class="btn btn-block btn-success">批次設定</button></td></form>

        </table>	

{% endblock %}