{% extends "base.html" %}
{% load tz %}
{% load tag %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<a href="/account/dashboard/0" class="btn btn{% if not action == 0 %}-outline{% endif %}-info" role="btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> <i class="fa fa-bullhorn" aria-hidden="true"></i> 所有訊息</a>
<a href="/account/dashboard/1" class="btn btn{% if not action == 1 %}-outline{% endif %}-info" role="btn"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> <i class="fa fa-bullhorn" aria-hidden="true"></i> 課程公告</a>
<a href="/account/dashboard/2" class="btn btn{% if not action == 2 %}-outline{% endif %}-info" role="btn"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <i class="fa fa-envelope-open-o" aria-hidden="true"></i> 我的私訊</a>
<a href="/account/line/" class="btn btn{% if not action == 3 %}-outline{% endif %}-info" role="btn"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> <i class="fa fa-envelope-open-o" aria-hidden="true"></i> 寄出私訊</a>
<Table class="table">
{% for messagepoll, message in messages %}<Tr><td>
 <button class="btn btn-default">
{{ message.time| date:"Y/m/d H:i"}}
  </button>
{% if message.url %}
<a href="/account/message/{{ messagepoll.id }}">
{% else %}
<a href="/account/line/detail/0/{{ message.id }}">
{% endif %}
{% if message.type == 2 %}
<img src="/static/images/line.png">
{% elif message.type == 1 %}
<img src="/static/images/announce.png">
{% elif message.type == 3 %}
<img src="/static/images/system.png">
{% endif %}
{{ message.title}}
{% if message.title|img == "assistant"%}
<img src="/static/images/assistant.png">
{% elif message.title|img == "teacher" %}
<img src="/static/images/teacher.png">
{% elif message.title|img == "certificate" %}
<img src="/static/images/certificate.png">
{% endif %}
</a>

{% if not messagepoll.read %}
<img src="/static/images/new.gif">
{% endif %}
</Tr>
{% endfor %}
</Table>
        {% load pagination %}
        {% get_pagination %}         
{% endblock %}