{% extends "base.html" %}
{% load tag %}
{% block content %}
<!--基礎程式設計-->
{% if lesson == 2 or lesson == 3 %}
     {{unit|unit_name:lesson}}
     <h1><i class="fa fa-tags" aria-hidden="true"></i> {{lesson|lesson_name:index}}</h1>
<section class="wrapper">
  <ul class="nav nav-tabs" role="tablist">
    {% if user.is_authenticated %}
    {% if lesson == 2 and index == 1 %}
    <li role="presentation" class="nav-item"><a aria-control="tab0" data-toggle="tab" role="tab" href="#tab0" class="nav-link active">基本環境介紹</a></li>    
    {% endif %}
    <li role="presentation" class="nav-item"><a aria-control="tab1" data-toggle="tab" role="tab" href="#tab1" class="nav-link {% if not index == 1%}active{% endif %}">範例展示</a></li>
		{% if lesson|lesson_download:index %}
    <li role="presentation" class="nav-item"><a aria-control="tab2" data-toggle="tab" role="tab" href="#tab2" class="nav-link">素材下載</a></li>    
    {% endif %}
		{% if lesson|lesson_resource1:index %}
    <li role="presentation" class="nav-item"><a aria-control="tab3" data-toggle="tab" role="tab" href="#tab3" class="nav-link">{{lesson|lesson_resource1:index}}</a></li>    
    {% endif %}		
		{% if lesson|lesson_youtube:index %}
    <li role="presentation" class="nav-item"><a aria-control="tab5" data-toggle="tab" role="tab" href="#tab5" class="nav-link">教學影片</a></li>    
    {% endif %}		    
    <li role="presentation" class="nav-item"><a aria-control="tab4" data-toggle="tab" role="tab" href="#tab4" class="nav-link">作業上傳</a></li>

    {% endif %}
  </ul>
<div class="tab-content" id="myTabContent">

      {% if user.is_authenticated %}		
      {% if lesson == 2 and index == 1 %}	
      <div class="tab-pane fade show active" id="tab0" role="tabpanel" aria-labelledby="tab0">
          <BR>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JuoWVXwklGM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
      </div>
      {% endif %}
     <!--------------------------------------------------------->
  <div class="tab-pane fade show {% if not index == 1 %}active{% endif %}" id="tab1" role="tabpanel" aria-labelledby="tab1">			
		<BR>
			<iframe allowtransparency="true" width="485" height="402" src="http://scratch.mit.edu/projects/embed/{{assignment.0.3}}/?autostart=false" frameborder=“0” allowfullscreen></iframe>			
		</div>
    <!--------------------------------------------------------->
    <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2">
    <a href="/static/files/{{lesson|lesson_download:index}}" role="btn" class="btn">檔案下載</a>
    </div> 
		<!--------------------------------------------------------->
    <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3">
    <img src="/static/resource/{{lesson|lesson_resource2:index}}">
    </div>   		
  	<!--------------------------------------------------------->
    <div class="tab-pane fade" id="tab5" role="tabpanel" aria-labelledby="tab5">
        <BR>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{lesson|lesson_youtube:index}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        
        </div>
  <!--------------------------------------------------------->
	<div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4">
 	<script>
function checkvalue() { 
    var mystring = document.getElementById('id_memo').value; 
    if(!mystring.match(/\S/)) {
        alert ('請填寫心得~~');
        return false;
    } else {
        return true;
    }
}
$(function () {
    $('input[type=file][name="file"]').change(function () {
        var val = $(this).val().toLowerCase(),
            regex = new RegExp("(.*?)\.(sb3)$");
        if (!(regex.test(val))) {
            $(this).val('');
            alert('您的檔案格式錯誤，只能上傳Scratch作品(.sb3)');
        }
    });
});  
</script>
    {{lesson_name}}<BR>
        {% if workfiles %}
            {% if scores.0 > 0 %}
            分數：{{ scores.0 }} / 
            評分者：{{ scores.1 }}	
            {% else %}
            尚未評分        
            {% endif %}
        {% else %}
            狀態：未繳交
        {% endif %}
        <form action="/student/work/submit/0/{{lesson}}/{{index}}/" method="post" enctype="multipart/form-data">{% csrf_token %}
          作品檔案：{{ form.file }}<BR>
          <label id="result">心得感想：</label>{{form.memo}}<BR>
          <input type="submit" value="送出" />
        </form>        
        <br>

        {% for workfile in workfiles %}
              <BR>第{{workfiles|length|subtract:forloop.counter|add:1}}版：<A href="/student/work/download/0/{{lesson}}/{{index}}/{{request.user.id}}/{{workfile.id}}">{{workfile.upload_date}}</A>
        {% endfor %}
    </div>       
  </div>  
</section>
<!--//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
{% else %}
請登入系統!
{% endif %}   
{% endif %}
{% endblock %}

{% block domready %}
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $("body,html").animate({
        scrollTop: 0
    }, 600);	
    $('.nav-item a[href="#' + url.split('#')[1] + '"]').tab('show'); 

} 
{% endblock %}

{% block footer_script %}
<script>
function wordCount( val ){
    var clean_message = val.replace(/\[m_\d+#\d+:\d+:\d+\]/g, '');
    var chinese = clean_message.match(/[\u4E00-\u9FA5]/g);
    var pure_english = clean_message.replace(/[\u4E00-\u9FA5]/g, '')
    var wom = pure_english.match(/\w+/g);
    return {
      words : wom ? wom.length : 0,
      chars : chinese ? chinese.length : 0,
		};
}

$('#id_memo').on('input', function(e){
    var v = wordCount(e.target.value);
    if ($(this).val().length > 1000) {
      // Split the string on first 200 words and rejoin on spaces
      alert("心得最多只能輸入1000個字元")
      $(this).val(e.target.value.substring(0, 1000));
    }
    else {
  $('#result').html("心得感想：(英:" + v.words + " / 中: " + v.chars + ")");
    }
});
</script>
{% endblock %}