{% extends "base.html" %}
{% load tag %}
{% block content %}
<button class="btn btn-success">{{classroom_id|classname}}</button>
	        {% for work, sfwork, fclass, count in works %}
<h2 id="{{work.id}}"></h2>
<div class="card card-default">
<div class="card-header">{{work.title}} {% if not sfwork %}<font color=red>(尚未發表)</font>{% endif %} -- {{fclass.publication_date}} {{work.teacher_id|nickname}}老師 -- 期限:{% if fclass.deadline %}{{fclass.deadline_date}}{% else %}無{% endif %}</div>
  <div class="card-body">
		{% if not fclass.forum_id|in_deadline_speculation:classroom_id == '' or sfwork %}
		<button class="btn btn-default"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 繳交({{count}})</button>
  	{% else %}
		<a href="/student/speculation/submit/{{classroom_id}}/{{work.id}}" class="btn btn-primary" role="btn"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 繳交({{count}})</a>
		{% endif %}
		{% if  not fclass.forum_id|in_deadline_speculation:classroom_id == '' or sfwork or request.user.id|is_teacher:classroom_id or request.user.id|is_assistant:classroom_id%}
		<a href="/student/speculation/annotate/{{classroom_id}}/{{work.id}}/{{request.user.id}}" class="btn btn-primary">個人註記</a>		
		<a href="/student/speculation/annotateclass/{{classroom_id}}/{{work.id}}/0" class="btn btn-primary">全班註記</a>	
		{% endif %}
		{% if request.user.id == work.teacher_id %}	
<a href="/teacher/speculation/{{classroom_id}}/#{{work.id}}" class="btn btn-warning" role="btn"><span class="glyphicon glyphicon-flag" aria-hidden="true"></span> 教師</a>	
{% endif %}
	</div>
</div>
        {% endfor %}
{% endblock %}
