{% extends "base.html" %}
{% load tag %}

{% block header %}
<link rel="stylesheet" href="/static/js/annotator/annotator.min.css" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/annotator/annotator-full.min.js"></script>
<link rel="stylesheet" href="/static/js/annotator/annotator.touch.css" type="text/css" media="all" />
<script type="text/javascript" src="/static/js/annotator/annotator.touch.min.js"></script>
<script type="text/javascript" src="/static/js/annotator/annotator.message.js"></script>
<script type="text/javascript" src="/static/js/annotator/annotator.image.js"></script>
<style type="text/css">{% for type in types %}
  .annotator-hl.atype-{{type.id}} {background-color: {{type.color}}}{% endfor %}
</style>
{% endblock %}

{% block content %}
<a href="/student/speculation/{{classroom_id}}/{{index}}/" class="btn btn-success" role="btn">{{subject}}</a>
{% if work.index > 0 and not work.publish %}
<a href="/student/speculation/publish/{{classroom_id}}/{{index}}/1/" class="btn btn-primary" role="btn">發表心得</a>
{% endif %}
<ul class="list-group">
  {% for work in contents %}
    {% include "student/module_speculation_material.html" %}
  {% endfor %}
  <li class="list-group-item">
    <h4 class="list-group-item-heading">心得</h4>
    <div class="list-group-item-text">
      {% if work.index|in_deadline:classroom_id == "" %}
        <form action="" enctype="multipart/form-data" id="forum_form" method="post">
          <textarea name="memo" id="memo" cols="30" rows="10" class="form-control list-group-item-text">{{work.memo}}</textarea>
          {% include "student/module_memo_attachments.html" with show_delete="1" %}
          <input type=hidden name=index value={{index}}>
          檔案:<input id="file" name="file" type="file"/><input type="submit" value="送出">
          {% csrf_token %}         
        </form>       
      {% else %}
        <font color=red>超過繳交期限 {{work.index|in_deadline:classroom_id}} ，無法繳交作業。</font>
      {% endif %}
    </div>
  </li>
</ul> 
{% endblock %}

{% block footer_script %}
<script>
function secToTime(sec) {
    return (new Date(sec*1000)).toUTCString().split(' ')[4];
}
 
function onYouTubeIframeAPIReady() {
  $('.btn-marker').click(function(event) {
    var vid = vidMap['m_'+$(event.target).data('mid')];
    var tsec = timeToSec($(event.target).data('time'));
    if (!vidPlayer) {
      vidPlayer = new YT.Player('vplayer', {
        height: '315', 
        width: '560', 
        videoId: vid,
        playerVars: {
          start: tsec,
        },
        events: {
          'onReady': onPlayerReady,
        }
      });
    } else {
      vidPlayer.loadVideoById(vid, tsec, 'large');
      vidPlayer.playVideo();
    }
    $('#vidModal').modal('show');
  });  
  $('.material iframe[src*="www.youtube.com"]').each(function(index, element) {
      var materialID = $(element).parent().parent().parent().parent().attr('id');
      var playerID = materialID+'_player';
      var player;
      $(element).attr('id', playerID);
      player = new YT.Player(playerID);
      $(".btn-add-marker", $(element).parent().parent().parent().parent()).click(function(e) {
        var commentID = '#memo';
        var comment_body = $(commentID).val();
        if (comment_body)
          comment_body += "\n";
        comment_body += "["+materialID+"#"+secToTime(player.getCurrentTime().toFixed())+"]";
        $(commentID).val(comment_body).focus();
      });
  });
}

$(document).ready(function () {
  //------------------------------------------------------------------------
  // Load YouTube API library
  var tag = document.createElement('script');
  tag.id = 'iframe-video';
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);  
});

//------------------------------------------------------------
var vidMap = {
  {% for work in contents %}
  {% if work.types == 2 %}
  'm_{{ work.id }}': '{{ work.youtube|number }}',
  {% endif %}
  {% endfor %}  
};


var vidPlayer = null;
function onPlayerReady(event) {
  event.target.playVideo();
}
function timeToSec(timestr) {
  var hh = parseInt(timestr.substr(0, 2)), 
      mm = parseInt(timestr.substr(3, 2)), 
      ss = parseInt(timestr.substr(6, 2));
    return (hh*3600)+(mm*60)+ss;
}

//------------------------------------------------------------------------

$('#vidModal').on('hidden.bs.modal', function (e) {
  vidPlayer.stopVideo();
});

$(document).ready(function () {
  annotation_type = [];
  {% for type in types %}
    annotation_type['t{{ type.id }}'] = {'kind': '{{ type.kind }}', 'color': '{{ type.color }}'};
  {% endfor %}
  $('.memo-content').each(function(index, element) {
    var userid = {{ request.user.id }};
	  var mid = $(element).parent().parent().attr('id').substr(2);
    $(element).annotator()
    .annotator('addPlugin', 'Store', {
      prefix: '/annotate', 
      annotationData: {
        'ftype': 1,
        'findex': {{index}},
        'stuid': userid,
        'mid': mid,
      },
      loadFromSearch: {
        'ftype': 1,
        'findex': {{index}}, 
        'stuid': userid,
        'mid': mid,
      }
    })
    .annotator('addPlugin', 'Touch')
    .annotator('addPlugin', 'Image', annotation_type)
    .annotator('addPlugin', 'Message', annotation_type);
  });
});
</script>
{% endblock %}

{% block domready %}
  $('a.delete').click(function(e){
    if (confirm('確定要刪除嗎?')) {
    var launcher = this;  
    e.preventDefault();
    $.post('/student/forum/file_delete/',
      {
        fileid: $(launcher).data('fileid'),
      },
      function(data){
        if (data['status'] == 'ok')
        {
           $(launcher).parent().hide();

        } else {
			   	alert("hello");
	    	}
      }
    );}
  });  

{% endblock %}