{% extends "base.html" %}
{% load tag %}
{% block content %}
                <table class="table">                  
                <tr><td>組別</td><td>組長</td><td>組員</td><td>發表</td></tr>
                {% for group, leader, members, count in groups %}
                <tr>
                  <td>第{{group|add:1}}組：</td>
                  <td>{% if leader %}<button class="btn btn-default">{{leader.seat}}){{leader.student.first_name}}{% endif %}</button></td>
                  <td>{% for member in members %}<button class="btn btn-default">({{member.seat}}){{member.student_id|nickname}}</button>{% endfor %}</td>                  
                  {% if count > 0 %}
                  <td><a href="/student/team/content/{{classroom_id}}/{{grouping}}/{{team_id}}/1/{{group}}">觀看發表作品({{count}})</a></td>
                  {% else %}
                  <td>尚未發表</td>
                  {% endif %}
                  </tr>
                {% endfor %}
                </table>                  
{% endblock %}
