{% extends "base.html" %}
{% load tag %}
{% block header %}
<script type="text/javascript" src="//cdn.ckeditor.com/4.5.9/standard-all/ckeditor.js"></script>
<script>
CKEDITOR.plugins.add('dreamerpasteimage', {
    init: function(editor) {
        editor.on('paste', function(e) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                var img = CKEDITOR.dom.element.createFromHtml("<img src='"+evt.target.result+"' />");
                e.editor.insertElement(img);
            }
            e.data.dataTransfer._.files.forEach(function(file, index) {
                console.log('paste: '+index);
                reader.readAsDataURL(file);
            });
        });
    },
});
</script>
{% endblock %}
{% block content %}
        <h3>對象：{{user_id|nickname}}</h3>
         <form action="" enctype="multipart/form-data"  method="post">
            <table class="table">
                {{ form.as_table }}  
           {% if user_id|teacher_classroom:classroom_id %}				
           <tr><th>檔案:</td><td><input id="file" name="files" type="file"  multiple/><input id="submit" type="submit" value="送出"><td</tr>
		   {% endif %}
            </table>
            {% csrf_token %}

        </form>
        <BR>
        <h3>歷史私訊</h3>
        <table class="table">
        {% for message, read in messages %}
        <tr><td>{{message.time}}<a href="/account/line/detail/{{classroom_id}}/{{message.id}}">{{message.title}}{% if not read %}(未讀){% endif %}</a></td></tr>
        {% empty %}
        <tr><td>無</td></tr>
        {% endfor %}
        </table>
{% endblock %}
{% block domready %}
    CKEDITOR.replace("id_content", {
        extraPlugins: 'colorbutton,colordialog,dreamerpasteimage',
    } );	         
{% endblock %}
